NEXT_PUBLIC_WHATSAPP_NUMBER=54XXXXXXXXXX
NEXT_PUBLIC_MAP_LINK=https://www.google.com/maps

NEXT_PUBLIC_TINY_HOME_AIRBNB_URL=https://airbnb.com.ar/h/mystic-nature-project
NEXT_PUBLIC_TINY_HOME_SYNC_URL=https://www.airbnb.com.ar/h/mystic-nature-cabin
NEXT_PUBLIC_TINY_HOME_ICAL_URL=https://www.airbnb.com.ar/calendar/ical/1200063343938579709.ics?t=e059f5e54bca4949abe8970f78789f35

NEXT_PUBLIC_CABANA_AIRBNB_URL=
NEXT_PUBLIC_CABANA_SYNC_URL=
NEXT_PUBLIC_CABANA_ICAL_URL=https://www.airbnb.com.ar/calendar/ical/1582684558300082540.ics?t=d85b117dc81b41a09d5bbb512c790f2f
